<ul class="admi-nav nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= page === 'main' ? 'active' : ''%>" href="/admin" aria-current="page" href="#">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= page === 'tab' ? 'active' : ''%> " href="/admintab">Bar Tabs</a>
  </li>
</ul>