<div class="container footer">    
    <a class="payment-icon paypal" href="https://paypal.me/jacobwwebber"></a>
    <a id="cashapp-link" class="payment-icon cashapp" href="https://cash.app/$wakejebber"></a>
    <a id="venmo-link" class="payment-icon venmo" href="https://venmo.com/jacobwebber?txn=pay&note=drink4dakids"></a>
</div>