<div class="outer-menu">
    <input class="checkbox-toggle" type="checkbox" />
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
              <li><a class="h1 py-4"  href="/faq"><span class="fas fa-candy-cane"></span> FAQ</a></li>
              <!-- <li><a class="h1 py-4"  href="/db"><span class="fas fa-holly-berry"></span> Check Status</a></li> -->
            <li><a class="h1 py-4"  href="/order"><span class="fas fa-gifts"></span> Order</a></li>
            <li><a class="h1 py-4" href="/menu"><span class="fas fa-cocktail"></span> Menu</a></li>
            <li><a class="h1 py-4" href="/"><span class="fas fa-igloo"></span> Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>