body {
  background-image: url(../images/jumbotronbg2.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;}

.leaderboard {
    width: 100%;
    height: 200px;
  }
  .leaderboard header {
    --start: 15%;
    height: 200px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(219, 54, 54, 0.33) 10%, rgba(219, 54, 54, 0.33) 17%), linear-gradient(to right, #049e1d, #006130);
    color: #fff;
    position: relative;
    top: 0px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .leaderboard__title{
    margin-left: 200px;
  }
  .leaderboard header .leaderboard__title {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    margin: 0;
  }

  .leaderboard__title--top {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 6.5px;
  }
  .leaderboard__title--bottom {
    padding-left: 20px;
    font-size: 50px;
    font-weight: 500;
    color: #00a745;
    letter-spacing: 3.55px;
  }

  .leaderboard__profiles {
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
  }


  .leaderboard__profile {
    display: inline-block;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    border-radius: 60px;
    box-shadow: 0 2px 7px 1px rgba(51, 51, 51, 1);
    cursor: pointer;
    background-color: #fff;
  }

  .leaderboard__picture {
    max-width: 100%;
    width: 200px;
  }
  .leaderboard__rank {
    border: 2px solid #1a8799;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(66, 66, 66);
    font-weight: 600;
    font-size: 40px;
  }
  .leaderboard__name {
    vertical-align: super;
    padding-left: 10px;
    width: 300px;
    color: rgb(66, 66, 66);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.64px;
  }

  .top-leaderboard__name {
    color: rgb(66, 66, 66);
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.64px;
  }
  .first-leaderboard__name {
    color: rgb(66, 66, 66);
    font-weight: 900;
    font-size: 60px;
  }
  .info {
    position: relative;
    top: -20px;
  }
  .info-first {
    position: relative;
    top: -40px;
  }
  .leaderboard__value {
    display: flex;
    justify-content: center;
    color: #0e7c3c;
    font-weight: 700;
    font-size: 40px;
    text-align: right;
  }
  
  body {
    margin: 0;
    background-color: #eaeaea;
    font-family: "Source Sans Pro", sans-serif;
  }
  



  .placement {
    font-size: 70px;
    font-family: 'Bungee', cursive !important;
    display: flex;
    justify-content: center;
  }

  .gold{
    color: #fab255;
  }

  .silver{
    color: #d7694d;
  }

  .bronze {
    color: #C24448;
  }
  
  .circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #eee;
    -webkit-box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
   }

   .first-circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #eee;
    -webkit-box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
   }

   .hex-label {
    position: relative;
    display: inline-block;
    bottom: 20px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    color: #222;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    border: 3px solid #eee;
    -webkit-box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    box-shadow: 0px 6px 32px -4px rgba(0,0,0,1);
    font-family: 'Bungee', cursive !important;
   }

   .hex-label.gold-label{
    padding-top: 8px;
    bottom: 40px;
    height: 80px;
    width: 80px;
    border-radius:50px;
    text-align: center;
   }
   .silver-label{
    background: rgb(189, 84, 171);
   }

   .gold-label{
    background: rgb(255 203 57);
   }

   .bronze-label{
    background: rgb(60, 255, 70);
   }
  
  
  

  .hex img {
    right: 0;
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

  .top-three{
    height: 500px;
  }



  .text-bar{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    height: 4px !important;
    color: white;
    opacity: 1;
    margin: auto;
}
  

body {
  background-color: #FAFAFA;
  -webkit-animation: color 8s linear infinite;
          animation: color 8s linear infinite;
}

#candy {
  overflow: hidden;
  display: flex;
  align-self: flex-end;
  opacity: 1;
  width: 100px;
  height: 100%;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 4px solid #b24445;
  box-shadow: 40px 20px 15px -30px rgba(255, 0, 0, 0.1);
  -webkit-animation: PARTY 8s cubic-bezier(0.87, -0.41, 0.19, 1.44) infinite;
          animation: PARTY 8s cubic-bezier(0.87, -0.41, 0.19, 1.44) infinite;
}

#candy-loader {
  width: 100%;
  z-index: 1;
  display: flex;
  align-self: flex-end;
  border-top: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(255, 50, 0, 0.8) inset;
  background: #D33144;
  background: repeating-linear-gradient(45deg, #FFFFEE, #FFFFEE 15px, #D33144 15px, #D33144 30px);
  -webkit-animation: load 8s ease-in infinite;
          animation: load 8s ease-in infinite;
}

.speech-bubble {
	position: absolute;
  color: black;
	background: #69ca79;
	border-radius: .4em;
  font-size: 30px;
  font-weight: 900;
  left: 300px;
  height: 50px;
  text-align: center;
  width: 100px;
  border: 2px solid rgb(0, 129, 28);

}

.speech-bubble.topside {
  margin-top: 20px;
}