body{
  background-image: url("../images/snowflakes.jpg");
  background-position: top;
  color: #eee;
}

.admin{
  background: #333;
}


  .navbar + .jumbotron {
    margin-top: -20px; }

.nav-link{
  border-radius: 8px;
}
.nav-link:hover {
  background-color: rgba(1, 117, 46, 0.4) !important;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}


.navbar-toggler {
  background-color: rgb(2, 173, 2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-toggler.collapsed{
  background-color: rgba(1, 117, 46, 0.699);
}

.navbar-toggler .fa-chevron-up {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-toggler.collapsed .fa-chevron-up {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.light-bg{
  border-radius: 10px;
  background-color: #ddd;
  color: #333;
  border: 3px solid green;
  white-space: pre-wrap;
}
h1{
  text-shadow:1px 1px 6px rgb(0 0 0 / 92%), 4px 2px 7px rgb(0 0 0 / 80%);
  font-weight: 400;
  font-size: 2.8em;
  text-align: center;
}
.title{
  color: rgb(27, 158, 77) !important;
  font-size: 3.5em;
}

.date{
  font-size: 2.5em;
}

.catchphrase {
  font-size:1.5em;
  padding-bottom: 10px;
}
.payment-icon{
  background-size: 47px 47px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid #666;
  text-align: center;
  display: inline-flex;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.venmo{
  background-image: url("../images/venmo.png");
}
.cashapp{
  background-image: url("../images/cashapp.png");
}
.paypal{
  background-image: url("../images/paypal.png");
}

.footer{
  position:fixed;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
}

h2{
  font-family: 'EB Garamond', serif;
    font-size: 1.7em;
}

h4{
    font-size: 1.4em;
    font-style: italic;
  }

h3{
  font-size: 1.5em;
  font-family: 'Bungee', cursive;
}

.about{
  white-space: pre-wrap;
  color: #eee;
}

.main-row::nth-of-type(1){
  margin-top: 50px;
}

.success-link{
  color: rgb(40, 170, 79) !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

::placeholder {
  color: #888 !important;
  font-size: .8em;
  font-style: italic;
}



.modal{
  color: black;
}

.bg-opaque{
  background-color: rgba(0, 0, 0, .3);
  border-top: 5px solid rgba(0, 0, 0, .2);
  border-bottom: 5px solid rgba(0, 0, 0, .2);

}

.text-highlight{
  color: rgb(27 185 92);
}

.text-bungee{
  font-family: 'Bungee', cursive !important;
}

.text-cursive{
  font-family: 'Fugaz One', cursive;
}
.text-ultra{
  font-family: 'Ultra', serif;
}

.btn-success:visited{
  color: white;
}

