body.orders{
background: #222;    
}

input, textarea{
  box-shadow: 0px 0px 10px 1px rgb(0,0,0);
}

.order-grid{
    color: #333;
    margin-bottom: 100px;
}
  
  .waiting-color{
    color: #555;
  }
  
  .finished-color{
    color: green;
  }
  
  .current-order {
    background-color: rgb(45, 94, 43) !important;
    font-weight: bold;
    color: #ddd;
  }
  .current-order .waiting-color{
    color: #ddd;
  }

  .main-row{
      margin-top: 10px;
      min-height: 70px;
      background: #eee;
      border-radius: 10px;
  }

  .comment{
      border-top: 1px solid rgba(0, 0, 0, 0.101);;
    background: rgba(0, 0, 0, 0.2);
  }

  .status-icon{
      font-size: 25px;
      position: absolute;
  }
  
  .main-row .order-cell{
      border-right: 1px solid #aaa;
  }

  .order-cell-small{
      font-size: 12px;
  }

  .db-header{
    color: #eee;
      background: #222;
      z-index: 2;
  }

  .db-header div{
      border-right: 1px solid #666;
  }

  .db-header div:last-child{
    border-right: 0;
}

#location-error-modal .modal-content{
  background: #eee;
}

#date-error-modal .modal-content{
  background: #eee;
}

label{
  color: white;
}

