body.orders{
  background-color: #000 !important;
  background-image: none;
}

input, textarea{
  box-shadow: 0px 0px 10px 1px rgb(0,0,0);
}

.order-grid{
    color: #000;
    margin-bottom: 100px;
}
  
  
  .current-order {
    background-color: rgb(230, 112, 112) !important;
    font-weight: bold;
    color: #ddd;
  }
  .current-order .waiting-color{
    color: #ddd;
  }

  .main-row{
      min-height: 70px;
      background: #eee;
  }

  .comment{
      border-top: 1px solid rgba(0, 0, 0, 0.101);;
    color: #666;
    font-weight: bold;
    padding-left: 18px;
  }

  .status-icon{
      font-size: 25px;
      position: absolute;
  }
  
  .main-row .order-cell{
    overflow-wrap: break-word;
  }

  .main-row::nth-of-type(1){
    border-bottom: 1px solid #666;
  }
  

  .main-row:nth-child(odd) {
    background: rgb(144, 194, 107);
}
  .main-row:nth-child(even) {
    background: rgb(173 201 152);
  }

  .order-cell-small{
      font-size: 12px;
  }

  .db-header{
    color: #eee;
      background: #222;
      z-index: 2;
  }

  .db-header div{
      border-right: 1px solid #666;
  }

  .db-header div:last-child{
    border-right: 0;
}

#location-error-modal .modal-content{
  background: #eee;
}

#date-error-modal .modal-content{
  background: #eee;
}

label{
  color: white;
}

