<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container-fluid px-0 pt-4">

    <h3 class="fs-3">WELCOME TO THE 3rd Annual </h2>
      <h1 class="title text-bungee">Drink 4 <br> the Kids <br><i class="fas fa-glass-cheers"></i></h1>
      <!-- <div id="christmas">
          <div class="flake large f-1"></div>
          <div class="flake large f-2"></div>
          <div class="flake large f-3"></div>
          <div class="flake large f-4"></div>
          <div class="flake large f-5"></div>
          <div class="flake large f-6"></div>
          <div class="flake large f-7"></div>
          <div class="flake large f-8"></div>
          <div class="flake large f-9"></div>
          <div class="flake large f-10"></div>
          <div class="flake large f-11"></div>
          <div class="flake large f-12"></div>
          <div class="flake large f-13"></div>
          <div class="flake large f-14"></div>
          <div class="flake large f-15"></div>
          <div class="flake large f-16"></div>
          <div class="flake large f-17"></div>
          <div class="flake f-18"></div>
          <div class="flake f-19"></div>
          <div class="flake f-20"></div>
          <div class="flake f-21"></div>
          <div class="flake f-22"></div>
          <div class="flake f-23"></div>
          <div class="flake f-24"></div>
          <div class="flake f-25"></div>
          <div class="flake f-26"></div>
          <div class="flake f-27"></div>
          <div class="flake f-28"></div>
          <div class="flake f-29"></div>
          <div class="flake f-30"></div>
          <div class="flake f-31"></div>
          <div class="tree left">
            <div class="snow"></div>
          </div>
          <div class="tree right">
            <div class="snow"></div>
          </div>
          <div class="ground"></div>
      </div> -->

      <h4>Drink your way off the naughty list</h4>
        <h3 class="mt-2 fs-1">Saturday <br> December 17th <br> 5pm - Late</h3>

      <!-- <a class="xmas-button green mt-3 text-bungee" target="_blank" href="https://forms.gle/AHHGQRChb3HcqJWe7">RSVP Here</a> -->
      <div class="d-flex flex-column px-2 mt-4 fc-white bg-opaque">
        <b class="text-ultra fs-3">MORE DETAILS <br> COMING SOON <i class="fas fa-tree"></i></b>        
        <div class="about px-1 d-none">

<span class="fw-bold fst-italic fs-1 text-cursive">Not just another Christmas party</span>
<span class="fs-5">It's a <b class="text-ultra fs-3"> Nice List Certified <i class="fas fa-tree"></i></b>
<b class="fs-3">heavily spirited  <i class="fas fa-wine-bottle"></i></b><b class="fw-bold fs-2"> pop up bar</b> 
serving <b class="fw-bold fs-2">TOP SHELF<span class="fs-1"> craft cocktails</span>
<i class="fas fa-cocktail"></i></b></span>
<span class="fs-3 fw-bold">And it's for a great cause</span>
<h3 class="text-highlight fs-1 mt-2">All proceeds go to charity</h4>We'll be serving up the <b class="fw-bold">best drinks</b> with the<b class="fw-bold fst-italic"> worst puns </b> for donations to 
<a class="success-link text-bungee fs-2" href="/charity">Nicholas House
Family Homeless
Shelter</a>

Treat yo'elf, enjoy some Christmas spirits, and feel great about your hangover this holiday season

<h2>Welcome to the party</h2>
<a class="xmas-button green" href="sms:6787361277&body=drink4thekids%20Christmas%20party%20address%3F">Text 4 Address Here</a></p>
           <span class="fs-6">EXPLORE    <i class="fas fa-2x fa-arrow-right align-bottom"></i></span>

</div>
</div>



</div>



</div>

<figure style="padding-top:176px;" itemtype="https://schema.org/ImageObject">
  <picture>
    <source media="(min-width: 1141px)" srcset="https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1280&amp;h=320&amp;auto=format 1280w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1600&amp;h=400&amp;auto=format 1600w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1920&amp;h=480&amp;auto=format 1920w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=2240&amp;h=560&amp;auto=format 2240w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=2560&amp;h=640&amp;auto=format 2560w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=2880&amp;h=720&amp;auto=format 2880w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=3200&amp;h=800&amp;auto=format 3200w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=3520&amp;h=880&amp;auto=format 3520w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=3840&amp;h=960&amp;auto=format 3840w">
    <source media="(min-width: 641px)" srcset="https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=960&amp;h=320&amp;auto=format 960w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1024&amp;h=341&amp;auto=format 1024w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1140&amp;h=380&amp;auto=format 1140w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1920&amp;h=640&amp;auto=format 1920w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=2048&amp;h=682&amp;auto=format 2048w,
                    https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=2280&amp;h=760&amp;auto=format 2280w">
    <img class="home-header__image" itemprop="url" sizes="100vw" srcset="https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=320&amp;h=180&amp;auto=format 320w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=480&amp;h=270&amp;auto=format 480w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=640&amp;h=360&amp;auto=format 640w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=750&amp;h=422&amp;auto=format 750w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=960&amp;h=540&amp;auto=format 960w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1080&amp;h=607&amp;auto=format 1080w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1280&amp;h=720&amp;auto=format 1280w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1440&amp;h=809&amp;auto=format 1440w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1600&amp;h=900&amp;auto=format 1600w,
                 https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=1920&amp;h=1080&amp;auto=format 1920w" src="https://christmashq.imgix.net/assets/images/christmas-hq.png?fit=crop&amp;q=50&amp;w=320&amp;h=180&amp;auto=format 320w" alt="Christmas Day">
  </picture>
</figure>
</body>
</html>
