<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container pt-4">
      <h1 class="title">Drink 4 the KIDS</h1>
      <h2>A Christmas Party for Charity</h2>
      <div id="christmas">
          <div class="flake large f-1"></div>
          <div class="flake large f-2"></div>
          <div class="flake large f-3"></div>
          <div class="flake large f-4"></div>
          <div class="flake large f-5"></div>
          <div class="flake large f-6"></div>
          <div class="flake large f-7"></div>
          <div class="flake large f-8"></div>
          <div class="flake large f-9"></div>
          <div class="flake large f-10"></div>
          <div class="flake large f-11"></div>
          <div class="flake large f-12"></div>
          <div class="flake large f-13"></div>
          <div class="flake large f-14"></div>
          <div class="flake large f-15"></div>
          <div class="flake large f-16"></div>
          <div class="flake large f-17"></div>
          <div class="flake f-18"></div>
          <div class="flake f-19"></div>
          <div class="flake f-20"></div>
          <div class="flake f-21"></div>
          <div class="flake f-22"></div>
          <div class="flake f-23"></div>
          <div class="flake f-24"></div>
          <div class="flake f-25"></div>
          <div class="flake f-26"></div>
          <div class="flake f-27"></div>
          <div class="flake f-28"></div>
          <div class="flake f-29"></div>
          <div class="flake f-30"></div>
          <div class="flake f-31"></div>
          <div class="tree left">
            <div class="snow"></div>
          </div>
          <div class="tree right">
            <div class="snow"></div>
          </div>
          <div class="ground"></div>
      </div>
      <h3>Saturday, December 18th</h3>

      <!-- <%- include ("../partials/xmaslights.ejs") %> -->
      <a class="xmas-button" target="_blank" href="https://forms.gle/AHHGQRChb3HcqJWe7">RSVP HERE</a>

      <div class="d-flex flex-column light-bg px-4 mt-4">
        <div class="about">
This is more than an ugly sweater holiday party.
It's top shelf, Santa certified, pop-up cocktail bar all for a good cause.

Come drink your way off the naughty list with us on Saturday, December 18th.

We'll be serving up the best drinks with the worst puns for donations to charity, so you can drink and still feel great about your hangover this holiday season.

Welcome to the party.

      </div>
      </div>

      <div class="d-flex flex-column light-bg px-4 my-4">
          <div class="text-uppercase fs-5 fst-italic fw-bold"> All proceeds go to 
              The Nicholas House </div>
              
              <a class="xmas-button" href="/charity">Read More Here</a>
</div>
  </div>

</div>
</body>
</html>
