<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container-fluid px-0 pt-4">
      <h1 class="title">Drink 4 the Kids <br><i class="fas fa-glass-cheers"></i></h1>
      <h2 class="fs-1">A Christmas Party for Charity</h2>
      <div id="christmas">
          <div class="flake large f-1"></div>
          <div class="flake large f-2"></div>
          <div class="flake large f-3"></div>
          <div class="flake large f-4"></div>
          <div class="flake large f-5"></div>
          <div class="flake large f-6"></div>
          <div class="flake large f-7"></div>
          <div class="flake large f-8"></div>
          <div class="flake large f-9"></div>
          <div class="flake large f-10"></div>
          <div class="flake large f-11"></div>
          <div class="flake large f-12"></div>
          <div class="flake large f-13"></div>
          <div class="flake large f-14"></div>
          <div class="flake large f-15"></div>
          <div class="flake large f-16"></div>
          <div class="flake large f-17"></div>
          <div class="flake f-18"></div>
          <div class="flake f-19"></div>
          <div class="flake f-20"></div>
          <div class="flake f-21"></div>
          <div class="flake f-22"></div>
          <div class="flake f-23"></div>
          <div class="flake f-24"></div>
          <div class="flake f-25"></div>
          <div class="flake f-26"></div>
          <div class="flake f-27"></div>
          <div class="flake f-28"></div>
          <div class="flake f-29"></div>
          <div class="flake f-30"></div>
          <div class="flake f-31"></div>
          <div class="tree left">
            <div class="snow"></div>
          </div>
          <div class="tree right">
            <div class="snow"></div>
          </div>
          <div class="ground"></div>
      </div>
      <h3 class="fs-1 mx-2">Much love to everyone who showed out</h3>
      <h3 class="fs-1 mx-2">See you next year!</h3>
      <h4>Drink your way off the naughty list</h4>
        <h3 class="mt-2 fs-5 text-decoration-line-through">Saturday <br> December 18th <br> 5pm - Late</h3>

      <!-- <%- include ("../partials/xmaslights.ejs") %> -->
      <a class="xmas-button green mt-3 text-bungee" target="_blank" href="https://forms.gle/AHHGQRChb3HcqJWe7">RSVP Here</a>
      <div class="d-flex flex-column px-2 mt-4 fc-white bg-opaque">
        <div class="about px-1">
<span class="fw-bold fst-italic fs-1 text-cursive">This isn't some typical ugly sweater Christmas party</span>
<span class="fs-5">It's a <b class="text-ultra fs-3"> Santa-Certified™ <i class="fas fa-tree"></i></b>
<b class="text-cursive fs-3">heavily spirited  <i class="fas fa-wine-bottle"></i></b><b class="fw-bold fs-2"> POP UP bar</b> 
serving <b class="fw-bold fs-2">top-shelf <b class="text-cursive fs-1"> craft cocktails</b>
<i class="fas fa-cocktail"></i></b></span>
<span class="fs-3 fw-bold">And it's for a great cause</span>
<h3 class="text-highlight fs-1 mt-2">All proceeds go to charity</h4>We'll be serving up the <b class="fw-bold">best drinks</b> with the<b class="fw-bold fst-italic"> worst puns </b> for donations to 
<a class="success-link text-bungee fs-2" href="/charity">Nicholas House
Family Homeless
Shelter</a>

Treat yo'elf, enjoy some Christmas spirits, and feel great about your hangover this holiday season

<h2>Welcome to the party</h2>
<span class="fs-5 text-bungee">UPDATE:</span>
After a generous donation, we're also serving <a class="title text-ultra" href="https://driftcocktails.com/">Drift Cocktails</a> - our favorite seltzer made with organic spirits, natural flavors, and mineral water

<a class="xmas-button green" href="sms:6787361277&body=drink4thekids%20Christmas%20party%20address%3F">Text 4 Address Here</a></p>
           <span class="fs-6">EXPLORE    <i class="fas fa-2x fa-arrow-right align-bottom"></i></span>

</div>
</div>

</div>

</div>
</body>
</html>
