<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Drink4TheKids - A Charity Cocktail Party" />
    <meta property="og:image" content="/images/iphonepreview.jpg" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
  <%- include ("../partials/bartab.ejs") %>


<div class="jumbotron text-center">
  <div class="container-fluid px-0 pt-4">

    <h3 class="fs-4 fst-italic"></h2>
      <h1 class="title text-bungee">Drink 4 <br> the Kids <br><i class="fas fa-glass-cheers"></i></h1>


      <h4 class="text-cursive catchphrase">
        Christmas Cocktails <br>for a Charitable Cause
      </h4>
        <h3 class="mt-2 date">We'll see you next year</h3>


      <div id="christmas">
        <div class="flake large f-1"></div>
        <div class="flake large f-2"></div>
        <div class="flake large f-3"></div>
        <div class="flake large f-4"></div>
        <div class="flake large f-5"></div>
        <div class="flake large f-6"></div>
        <div class="flake large f-7"></div>
        <div class="flake large f-8"></div>
        <div class="flake large f-9"></div>
        <div class="flake large f-10"></div>
        <div class="flake large f-11"></div>
        <div class="flake large f-12"></div>
        <div class="flake large f-13"></div>
        <div class="flake large f-14"></div>
        <div class="flake large f-15"></div>
        <div class="flake large f-16"></div>
        <div class="flake large f-17"></div>
        <div class="flake f-18"></div>
        <div class="flake f-19"></div>
        <div class="flake f-20"></div>
        <div class="flake f-21"></div>
        <div class="flake f-22"></div>
        <div class="flake f-23"></div>
        <div class="flake f-24"></div>
        <div class="flake f-25"></div>
        <div class="flake f-26"></div>
        <div class="flake f-27"></div>
        <div class="flake f-28"></div>
        <div class="flake f-29"></div>
        <div class="flake f-30"></div>
        <div class="flake f-31"></div>

        <div class="tree left">
          <div class="snow"></div>
        </div>
        <div class="tree right">
          <div class="snow"></div>
        </div>
        <div class="ground"></div>
    </div>
    
    <!-- <a class="xmas-button green mt-3 text-bungee" target="_blank" href="https://forms.gle/Rur3QB9FDdc2VzQV8">RSVP Here</a> -->

      <div class="d-flex flex-column px-2 mt-2 fc-white bg-opaque">
        <div class="about px-1 ">

<span class="fw-bold fst-italic fs-1 text-cursive">Not just another Christmas party</span><br>
<span class="fs-3 text-cursive">It's a holiday spirited</span>
<span><b class="fw-bold fs-2 text-cursive"><i class="fas fa-cocktail"></i>  pop up bar  <i class="fas fa-wine-bottle"></i></b></span>
 <span class="fs-5 text-ultra">serving the best craft cocktails </span><br><b class="fw-bold fst-italic">and the worst puns </b>
<span class="fs-3 text-ultra">for donations <br>to a great cause</span><br>
<span class=" fs-1 mt-2 text-bungee">All proceeds go to charity </span>
<a class="success-link text-bungee fs-2" href="/charity">Nicholas House
Family Homeless
Shelter</a>

<div class="fst-italic fs-1 text-cursive">Welcome to the party</div>
<!-- <a class="xmas-button green" href="sms:6787361277&body=drink4thekids%20Christmas%20party%20address%3F">Text 4 Address Here</a> -->
</div>
</div>



</div>



</div>
</body>
</html>
