<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
<div class="text-center container pb-3">
    <h4 class="title fs-1 fw-bold fst-italic mt-3">Nicholas House</h4>
  <div class="d-flex flex-column light-bg px-4">
      <div class="about">
After reading some of their amazing <a class="success-link" href="https://nicholashouse.org/success-stories/">success stories</a>, we chose to support this program with our event.

Nicholas House is more than a homeless shelter - it assists homeless families in making the transition from homelessness to self-sufficiency with 97% of their families moving into their own housing.

If you cannot make it to the party and would still like to contribute you can do so here.

<a href="https://nicholashouse.org/get-involved/" class="xmas-button" style="color:white">Get Involved</a>
      </div>
    </div>

  <h4 class="title fs-1 fw-bold fst-italic mt-3">Some sobering stats</h4>
  <div class="d-flex flex-column light-bg px-4 fs-4">
      <div class="about">
37% of Georgia's homeless are homeless families with children.

There are over 1200 homeless family members and 800 children on the streets of Atlanta every night. 

<span class="fw-bold fs-3">The average age of a homeless person in the United States is 9 years old.</span>

So do it for the kids.

Much love, 
<span class="fst-italic">Aria, Anya, Ricky, Jake</span>
      </div>
    </div>
  </div>
</div>
</body>
</html>
