<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
<div class="text-center container pb-3">
  <h3 class="title text-center fs-1 fw-bold mt-3">Some sobering stats</h3>
  <div class="d-flex flex-column light-bg px-4 fs-4">
37% of Georgia's homeless are families with children

There are over 1200 homeless family members and 800 children on the streets of Atlanta every night

<span class="fw-bold fs-3">Almost 40% of the homeless in the United States are under 18</span>
So do it for the kids

</div>
<h3 class="title text-center fs-1 fw-bold mt-3">Nicholas House</h3>
<div class="d-flex flex-column light-bg px-2">
        After reading some of their <a class="success-link" href="https://nicholashouse.org/success-stories/">success stories</a> (which you should definitely read) 
        we chose to support this amazing program with our event. Research into the charity's financials and programs make us confident the donations will make a huge difference.

        Nicholas House is more than a homeless shelter - it assists homeless families in making the transition from homelessness to self-sufficiency with 97% of their families moving into their own housing.

        <b class="fs-4 pb-2">If you cannot make it to the party and would still like to contribute please visit their website</b>
        <a href="https://nicholashouse.org/get-involved/" class="xmas-button green mb-2" style="color:white">Get Involved</a>
      </div>
</div>

</body>
</html>
