<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <%- include ("../partials/header.ejs") %>
      </head>
<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container pt-4">
      <h1 class="title">Faq</h1>
      <div class="d-flex flex-column light-bg px-4 my-4 pb-2 fs-6 text-center">
          <div class="text-uppercase fs-5 fw-bold mt-3">What's the dress code?</div>
          Bring that holiday spirit. Tacky sweaters, xmas pajamas, santa tuxedoes, elf shit
          <div class="text-uppercase fs-5 fw-bold mt-3">What should I bring?</div>
          Your friends, your mom, your friend's mom, and a heart of gold (or cash/card)
          <div class="text-uppercase fs-5 fw-bold mt-3">Can I BYOB?</div>
          Keep it to a minimum. We encourage you to swing by the bar to get served something worthy of your donations
          <div class="text-uppercase fs-5 fw-bold mt-3">What if I hate cocktails?</div>
          We'll have a small selection of beer and seltzers on hand to keep you hydrated
          <div class="text-uppercase fs-5 fw-bold mt-3">Can I order off-menu?</div>
          Absolutely. We went all out. Put a custom drink on the order page with special requests in the comments.
          <div class="text-uppercase fs-5 fw-bold mt-3">What charity?</div>
          Nicholas House
          <a class="btn btn-success mb-2 green" href="/charity">Read More</a>

        </div>
      </div>
  <%- include ("../partials/xmaslights.ejs") %>

</body>
</html>
