<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <%- include ("../partials/header.ejs") %>
  
  <script type="text/javascript">
    $(document).ready(function () {
      // cocktails
      $.getJSON("/assets/drinks.json", function (result) {
          result.forEach((drink, i) => {
            var formattedIngredients =
              $("#cocktail-list").append(`
              <div class="row drink-bg my-2 py-2">
                <div class="col-5">
                  <img class="drink-img" src="${drink.imageUrl}" width="125" height="150"></img>
                  </div>
                <div class="col-7">
                <div class="drink-title font-monospace">${drink.name}</div>
                <div class="drink-description fst-italic"> ${drink.description} </div>
                <div class="drink-recipe"> ${ drink.ingredients.join(" ❄ ")} </div>
                <a class="btn btn-success" href="/order?id=${drink.id}">ORDER</a><span class="float-end drink-price"> ${ drink.price }</span>
                </div>
              </div>
              `
              );
          });
      });
      // shots
      $.getJSON("/assets/shots.json", function (result) {
          result.forEach((drink, i) => {
            var formattedIngredients =
              $("#shot-list").append(`
              <div class="row drink-bg my-2 py-2">
                <div class="col-5">
                  <img class="drink-img" src="${drink.imageUrl}" width="125" height="150"></img>
                  </div>
                <div class="col-7">
                <div class="drink-title font-monospace">${drink.name}</div>
                <div class="drink-description fst-italic"> ${drink.description} </div>
                <div class="drink-recipe"> ${ drink.ingredients.join(" ❄ ")} </div>
                <a class="btn btn-success" href="/order?id=${drink.id}">ORDER</a><span class="float-end drink-price"> ${ drink.price }</span>
                </div>
              </div>
              `
              );
          });
      });

      // other
      $.getJSON("/assets/other.json", function (result) {
          result.forEach((drink, i) => {
            var formattedIngredients =
              $("#other-list").append(`
              <div class="row drink-bg my-2 py-2">
                <div class="col-5">
                  <img class="drink-img" src="${drink.imageUrl}" width="125" height="150"></img>
                  </div>
                <div class="col-7">
                <div class="drink-title font-monospace">${drink.name}</div>
                <div class="drink-description fst-italic"> ${drink.description} </div>
                <div class="drink-recipe"> ${ drink.ingredients.join(" ❄ ")} </div>
                <a class="btn btn-success" href="/order?id=${drink.id}">ORDER</a><span class="float-end drink-price"> ${ drink.price }</span>
                </div>
              </div>
              `
              );
          });
      });
    });
  </script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
  <%- include ("../partials/bartab.ejs") %>

<div class="drink-nav">
  <a href="#top-nav">Cocktails </a>
  <a href="#other-nav">Batched</a>
  <a href="#shot-nav">Shots</a>
</div>

  <div class="container pt-4" id="top-nav">

    <div class="mx-1">
        <br><br>
        <h3 class="text-center">work in progress</h3>
<h2 class="text-center">Want something different?<br>Ask what we can whip up for you</h2>
<h1 class="title text-cursive">Cocktails</h1>
        <div id="cocktail-list"></div>
        <br id="other-nav"><br>
        <h1 class="title text-cursive">Batched & Boozy</h1>
        <div id="other-list"></div>
        <br id="shot-nav"><br>
        <h1 class="title text-cursive">Shots 4 Tots</h1>
        <div id="shot-list"></div>
    </div>
  </div>
  <%- include ("../partials/xmaslights.ejs") %>

</body>
</html>
