<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <%- include ("../partials/header.ejs") %>
  <script type="text/javascript">
    $(document).ready(function () {
      $.getJSON("/assets/drinks.json", function (result) {
          result.forEach((drink, i) => {
            var formattedIngredients =
              $("#menu-list").append(`
              <div class="row drink-bg my-2 py-2">
                <div class="col-5">
                  <img class="drink-img" src="${drink.imageUrl}" width="125" height="150"></img>
                  </div>
                <div class="col-7">
                <div class="drink-title font-monospace">${drink.name}</div>
                <div class="drink-description fst-italic"> ${drink.description} </div>
                <div class="drink-recipe"> ${ drink.ingredients.join(" ❄ ")} </div>
                <a class="btn btn-success" href="/order?id=${drink.id}">ORDER</a>
                </div>
              </div>
              `
              );
          });
      });
    });
  </script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container pt-4">
      <h1 class="title">Cocktails</h1>

      <div class="mx-1">
        <h3 class="text-center">work in progress</h3>
<h2 class="text-center">Want something different?<br>Ask what we can whip up for you</h2>
        <div id="menu-list"></div>
        </div>
      </div>
  </div>
  <%- include ("../partials/xmaslights.ejs") %>

</div>
</body>
</html>
