<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <%- include ("../partials/header.ejs") %>
      </head>
<script type="text/javascript">
  let selectedId = new URLSearchParams(window.location.search).get('id');
  var result;
  if(selectedId){
    $(document).ready(function () {
      $.getJSON("/assets/drinks.json", function (result) {
          var drink = result.find(x=> x.id == selectedId);
          document.getElementById("drink-input").value = drink.name;
      });
    });
  }

  
</script>



<body>

<%- include ("../partials/nav.ejs") %>

<div class="container-fluid mb-5 pb-4">
<h1 class="title pt-2">Order</h1>
<form id="orderform" action="/send" method="POST">
  <fieldset>
    <div class="col-xs-6 col-xl-12">
        <div class="mb-3">
            <label for="drink-input" class="form-label">Drink Order</label>
            <input id="drink-input" class="form-control form-control-lg" type="text" name="drink" maxlength="25" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Not even a glass of milk?')"  placeholder="make it good" required/>
            <!-- <select id="drink-selector" class="form-select form-select-lg mb-3" placeholder="asdf" required>
              <option disabled selected hidden>Pick a drink</option>
            </select> -->
        </div>
      <div class="mb-3">
          <label for="name-input" class="form-label">Your Name</label>
        <input id="name-input" class="form-control form-control-lg" type="text" maxlength="25" name="name" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('We\'ll need your name, nutcracker')" placeholder="buddy the elf" required/>
      </div>

      <div class="mb-3">
        <label for="comment-input" class="form-label">Comments</label>

        <textarea  id="comment-input" class="form-control" id="exampleFormControlTextarea1" name="comments" placeholder="write us love letters" rows="3"></textarea>
      </div>
      <div class="d-flex justify-content-center">
      <button class="xmas-button" type="button" onclick="verifyOrder();" value="Order some shit">Grab a Drink</button>
    </div>
    </div>
  </fieldset>
</form>
<img class="buddy-the-elf"  src="/images/buddytheelf.png">
</div>

<%- include ("../partials/footer.ejs") %>

<div id="location-error-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="fw-bold modal-title">WHERE ARE YOU, THE NORTH POLE?</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>Looks like you're not at the party. 
This isn't uber eats, so get over here.
Reach out to us for the address
Jake: 678-736-1277</p>
        </div>
        <div class="modal-footer justify-content-center">
            <a class="xmas-button order-cell-small" href="sms:6787361277&body=drink4thekids%20Christmas%20party%20address%3F">Text Jake</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="date-error-modal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="fw-bold modal-title">SON OF A NUTCRACKER</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <p>IT ISN'T PARTY TIME YET</p>
          </div>
          <img class="m-auto" width="180" height="160" src="images/buddy.jpg" alt="buddy">
        </div>
      </div>
    </div>

</body>
</html>